<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got what you need!</h2>
                <hr class="light">
                <p class="text-faded">We Provide On Campus Training in the field of Information technology. The aim is to create awareness about various existing and upcoming working profiles in the field of IT.</p>
                <p class="text-faded">Our Multi Domain Training Programs under one workshop helps them realize their field of interest and makes them aware of the future goal.</p>
                <!-- <a href="#" class="btn btn-default btn-xl">Get Started!</a> -->
            </div>
        </div>
    </div>
</section>
