<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Vision Connecting Mind & Skills</h1>
            <hr>
            <p>Enlightening the vision of students for their career choice in the vast field of Information Technology.
Its important to know and learn the exciting opportunities that exists for a student before he walks out of college campus.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
