<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Career Guidance</h3>
                    <p class="text-muted">Our Training sessions eye multiple domains of IT field in a single event which increases students knowledge about different work opportunities after their education.
</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Training Program</h3>
                    <p class="text-muted">
                    <ol>
                    <li class="text-muted">Web technologies(Open Source)</li>
                    <li class="text-muted">Cisco Networking (Routing & Switching)</li>
                    <li class="text-muted">Software testing(Manual & Automation)</li>
                    <li class="text-muted">Search Engine Optimization</li>
                    <li class="text-muted">Cloud Computing</li>
                    <li class="text-muted">Business Analysis</li>
                    <li class="text-muted">Campus Recruitment Program Training</li>
                    </ol>
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                <div class="service-box" style="overflow:scroll;height:250px;width:390px">
                    <!--<h3>Upcoming Events</h3>
                    <p class="text">Bhonsla Polytechnic, Akola</p>
                    <p>Workshop - 1st & 2nd Feb, 2016</p><-->
                    <h3>Recent Events</h3>
                    <p class="text-muted">Dr. Punjabrao Deshmukh Polytechnic College, Amravati</p>
                    <p>Workshop - 6th & 7th Feb, 2016</p>
                    
                     <p class="text-muted">Dr. Punjabrao Deshmukh Polytechnic College, Amravati</p>
                    <p>Seminar - 25th Jan, 2016</p>
                    <hr>
                    <p class="text-muted">P. R. Patil College of Engineering & Technology</p>
                    <p>Workshop - 23rd & 24th Jan, 2016</p>
                    <hr>
                    <p class="text-muted">P. R. Patil College of Engineering & Technology</p>
                    <p>Seminar - 18th Jan, 2016</p>
                    
                  
                    
                   
                    
                </div>
            </div>
            <!-- <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-bolt wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3></h3>
                    <p class="text-muted">It's not how good you are, it's how good you want to be.</p>
                </div>
            </div> -->
        </div>
    </div>
</section>
